<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Food Planner App</title>
    <meta name="description" content="App to track calorie consumption and plan healthy meals">
    <meta name="keywords" content="nutrition,tracker,calories,healthy,foods">
    <meta name="author" content="Sarah Maris">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,400italic|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <!-- build:css css/style.min.css -->
    <link rel="stylesheet" href="assets/style.css">
    <link rel="stylesheet" href="assets/jquery-ui.css">
    <!-- endbuild -->
  </head>
  <body>
    <!-- Food Tracker app -->
    <section class="tracker-app">
      <h1 class="app-header">Food Tracker</h1>
      <!-- Datepicker box -->
      <div class="date-box">
        <h3 class="date-header">Tracker Date</h3>
        <div class="date-picker"></div>
      </div>
      <!-- Food search and add -->
      <div class="add-food-box">
        <div>
         <h3 class="search-header">Search</h3>
          <input id="food-search" class="food-box" placeholder="What did you eat?" type="text">
        </div>
        <!-- Details about food item to be added -->
        <table class="food-table hidden">
          <tr>
            <th class="data-header">Serving<br>Size</th>
            <th class="data-header">Calories<br>per Serving</th>
            <th class="data-header">Servings</th>
            <th class="data-header">Total<br>Calories</th>
          </tr>
          <tr>
            <td id="serving-size" class="food-info"></td>
            <td id="serving-calories" class="food-info"></td>
            <td id="serving-box" class="food-info">
              <input name="servings" id="num-servings" class="food-input" type="text" value="1">
            </td>
            <td id="calories-eaten" class="food-info"></td>
            <td><input class="add-button" type="submit" value="Add Food" id="add-food"></td>
          </tr>
        </table>
        <!-- Search results -->
        <div class="search-results">
          <ul class="results-list"></ul>
        </div>
      </div>
      <!-- List of food eaten -->
      <table>
        <thead class="list-head">
          <tr>
            <th class="food-item">food item</th>
            <th class="calories">calories</th>
            <th class="remove">remove</th>
          </tr>
        </thead>
        <tbody class="food-list"></tbody>
      </table>
      <table class="table-end"></table>
    </section>
    <footer>
      <a href="http://www.nutritionix.com/api"><img src="assets/images/nutritionix-logo.png"></a>
    </footer>

    <!-- Date template -->
    <script type="text/template" id="date-template">
         <input type="text" name="date" id="datepicker">
    </script>

    <!-- Food item template  REMOVE TEMPORARY CODE TO SHOW DATES BEFORE DEPLOYMENT -->
    <script type="text/template" id="item-template">
      <td class="food-item"><%= title %>

<span style="float: right"><%= dateEaten %></span>

      </td>
      <td class="calories"><%= calories%></td>
      <td class="remove"><span class="destroy">x</span></td>
    </script>

    <!-- Results List item template -->
    <script type="text/template" id="results-template">
      <li class="results" id="option<%= id %>">
        <p class="results-name"><%= name %></p>
        <p class="results-details">Serving size: <%= serveSize %> <%= serveUnit %>
        <span class="results-cals"><%= calories %> calories</span></p>
      </li>
    </script>

    <!-- Daily Calorie Count template -->
    <script type="text/template" id="daily-cals-template">
      <tr>
        <td class="calorie-count">total calories consumed today</td>
        <td class="total-calories"><%= dailyCalories %></td>
      </tr>
    </script>

    <!-- Foundational js Libraries -->
    <!-- build:js js/lib.min.js -->
    <script src="components/jquery/dist/jquery.min.js"></script>
    <script src="components/underscore/underscore-min.js"></script>
    <script src="components/backbone/backbone-min.js"></script>
    <script src="components/jquery-ui.js"></script>
    <!-- endbuild -->

    <!-- Firebase Libraries-->
    <script src="https://cdn.firebase.com/js/client/2.3.1/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/backbonefire/0.5.1/backbonefire.min.js"></script>

   <!-- App scripts -->
   <!-- build:inlinejs -->
    <script src="js/models/food.js"></script>
    <script src="js/collections/foods.js"></script>
    <script src="js/views/datepicker.js"></script>
    <script src="js/views/foods.js"></script>
    <script src="js/views/app.js"></script>
    <script src="js/app.js"></script>
    <!-- endbuild -->

  </body>
</html>

