<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Food Planner App</title>
    <meta name="description" content="App to track calorie consumption and plan healthy meals">
    <meta name="keywords" content="nutrition,tracker,calories,healthy,foods">
    <meta name="author" content="Sarah Maris">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,400italic|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <!-- build:css assets/style.min.css -->
    <link rel="stylesheet" href="assets/style.css">
    <link rel="stylesheet" href="assets/jquery-ui.css">
    <!-- endbuild -->
  </head>
  <body>

    <!-- Food Tracker app -->
    <section class="tracker-app">
      <h1 class="app-header">Food Tracker</h1>

      <!-- Datepicker box -->
      <div class="date-box">
        <h3 class="date-header">Tracker Date</h3>
        <div class="date-picker"></div>
      </div>

      <!-- Food search and add -->
      <div class="add-food-box">
        <div>
         <h3 class="search-header">Search</h3>
          <input id="food-search" class="food-box" placeholder="What did you eat?" type="text">
          <img class="loader" src="assets/images/loader.gif" alt="loading">
        </div>

        <!-- Details about food item to be added -->
        <div class="food-table hidden">
          <div class="food-table-box">
            <h5 class="data-header">Serving<br>Size</h5>
            <p id="serving-size" class="food-info"></p>
          </div>
          <div class="food-table-box">
            <h5 class="data-header">Calories<br>per Serving</h5>
            <p id="serving-calories" class="food-info"></p>
          </div>
          <div class="food-table-box">
            <h5 class="data-header"><br>Servings</h5>
            <p id="serving-box" class="food-info">
              <input name="servings" id="num-servings" class="food-input" type="text" value="1">
            </p>
          </div>
          <div class="food-table-box">
            <h5 class="data-header">Total<br>Calories</h5>
            <p id="calories-eaten" class="food-info"></p>
          </div>
          <div class="food-table-box">
            <input class="add-button" type="submit" value="Add Food" id="add-food">
          </div>
        </div>

        <!-- Search results -->
        <div class="search-results">
          <div class="manual-option hidden">
            <h4 class="choose-manual">Not what you were looking for?<br>Enter your food item manually</h4>
            <div id="enter-manual" class="add-button">Enter Manually</div>
          </div>
          <ul class="results-list"></ul>
        </div>
      </div>

      <!-- List of food eaten -->
      <table>
        <thead class="list-head">
          <tr>
            <th class="food-name">FOOD ITEM</th>
            <th class="calories">SERVINGS</th>
            <th class="calories">CALORIES</th>
            <th class="remove">REMOVE</th>
          </tr>
        </thead>
        <tbody class="food-list"></tbody>
       </table>
      <div class="list-footer">
        <a href="http://www.nutritionix.com/api"><img src="assets/images/nutritionix-logo.png"></a>
      </div>
    </section>

    <!--Health-related news items -->
    <section class="health-news">
      <h3 class="news-header">Health News from<br>The New York Times</h3>
      <ul class="news-items"></ul>
      <div class="list-footer">
        <a href="http://developer.nytimes.com/"><img src="assets/images/nytimes-logo.png"></a>
      </div>
    </section>

    <!-- Date template -->
    <script type="text/template" id="date-template">
         <input type="text" name="date" id="datepicker">
    </script>

    <!-- Food item template -->
    <script type="text/template" id="item-template">
      <td>
        <p class="food-name"><%= name %></p>
        <p class="food-details">Serving size: <%= serveSize %>
      </td>
      <td class="servings"><%= servings%></td>
      <td class="calories"><%= calories%></td>
      <td class="remove"><span class="destroy">x</span></td>
    </script>

    <!-- Results List item template -->
    <script type="text/template" id="results-template">
      <li class="results" id="option<%= id %>">
        <p class="results-name"><%= name %></p>
        <p class="results-details">Serving size: <%= serveSize %>
        <span class="results-cals"><%= calories %> calories</span></p>
      </li>
    </script>

    <!-- Daily Calorie Count template -->
    <script type="text/template" id="daily-cals-template">
      <tr class="table-end">
        <td colspan="2" class="calorie-count">TOTAL CALORIES CONSUMED TODAY</td>
        <td class="total-calories"><%= dailyCalories %></td>
        <td class="remove"></td>
      </tr>
    </script>

    <!-- News item template -->
    <script type="text/template" id="news-template">
      <li class="news-item">
        <a href="<%= newsURL %>' "target="_blank" class="news-headline">
          <%= headline %>
        </a>
        <p class="news-date"><%= pubDate %></p>
        <p class="snippet"><%= paragraph %></p>
      </li>
    </script>

    <!-- Foundational js Libraries -->
    <!-- build:js js/lib.min.js -->
    <script src="components/jquery/dist/jquery.min.js"></script>
    <script src="components/underscore/underscore-min.js"></script>
    <script src="components/backbone/backbone-min.js"></script>
    <script src="components/jquery-ui.js"></script>
    <script src="components/moment/moment.js"></script>
    <!-- endbuild -->

    <!-- Firebase Libraries-->
    <script src="https://cdn.firebase.com/js/client/2.3.1/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/backbonefire/0.5.1/backbonefire.min.js"></script>

   <!-- App scripts -->
   <!-- build:inlinejs -->
    <script src="js/models/food.js"></script>
    <script src="js/collections/food-items.js"></script>
    <script src="js/views/food-item.js"></script>
    <script src="js/views/app.js"></script>
    <script src="js/app.js"></script>

    <!-- endbuild -->

  </body>
</html>

